**/_datasets
**/datasets
**/_backups
**/logs

*.index
*.gguf
*.sql
*.log

*.DS_Store

.env

.idea/
.vscode/

**/.venv/
**/__pycache__/

spring-app/config.yml

*.zip
*/dist/
*/node_modules/


tools/pmd-bin-**
tools/*.jar
